[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ lookup('amazon.aws.aws_ssm','roboshop.{{env}}.frontend.catalogue_url', region='us-east-1') }};
Environment=CATALOGUE_HOST=catalogue-{{env}}.devopsd73.store
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target